<div id="additional" ng-controller="additionalController">
	<p>Are there additional findings?
	<label class="radio-inline"><input type="radio" value="no" ng-model="extra_findings">No</label>
	<label class="radio-inline"><input type="radio" value="yes" ng-model="extra_findings">Yes</label>
	</p>
	<div ng-show="extra_findings == 'yes'">
		<form class="form-horizontal">
			<div ng-repeat="finding in findings">
				<div class="form-group">
					<div class="col-xs-1">
						<input type="checkbox" class="form-control" ng-mode="finding.checked">
					</div>
					<label class="control-label col-xs-4">{{$index+1}}) {{finding.label}}</label>
					<div class="col-xs-6">
						<input type="text" class="form-control" ng-model="finding.text">
					</div>	
				</div>
			</div>
		</form>
	</div>
</div>

