<div id="clinical-info" ng-controller="clinical-infoController">
	<ol>
		<li>
			<br>
			<textarea id="clinical-info-text" type="textarea" rows="5" class="form-control" placeholder="{{clinical_info_placeholder}}" ng-model="clinical_info"></textarea>
		</li>
		<li>
		Previous Examinations:
		<ol>
			<li ng-repeat="exam in previous_exams">
				<previous-examination model="exam"></previous-examination>
				<input width="25px" type="button" value="+" ng-click="add_exam()">
			</li>
		</ol>
		</li>
	</ol>
</div>