<div id="clinical-info" ng-controller="clinical-infoController">
	<ol>
		<li>
			<br>
			<textarea id="clinical-info-text" type="textarea" rows="5" class="form-control" placeholder="{{clinical_info_placeholder}}" ng-model="clinical_info"></textarea>
		</li>
		<li>
		<label>Previous Examinations: <input class="btn btn-default btn-xs" type="button" value="+" ng-click="add_exam()"><input class="btn btn-default btn-xs" type="button" value="-" ng-click="remove_exam()"></label>
		<ol>
			<li ng-repeat="exam in previous_exams">
				<previous-examination model="exam"></previous-examination>
			</li>
		</ol>
		</li>
	</ol>
</div>