<div id="filmQuestions" ng-controller="filmController">
	<div>
		<p>Watch Film:
			<input type="radio" value="yes" ng-model="watchesFilm">Yes
			<input type="radio" value="no" ng-model="watchesFilm">No
		</p>
	</div>
	<div ng-show="watchesFilm == 'yes'">
		<div ng-include="'templates/checkbox_inputs.html'"></div>
 	</div>
	<p>
		<!-- A sample of the inline logic in directives -->
		<div ng-show="checkbox.choices[0].on && checkbox.choices[2].on && !checkbox.choices[1].on">
			You'd definitely enjoy Plan 9. Give it a chance.
		</div>
		<div ng-show="checkbox.choices[0].on && !checkbox.choices[2].on && checkbox.choices[1].on">
			I keep hearing great things about Manos. Maybe you should watch it.
		</div>
		<div ng-show="checkbox.choices[1].on && checkbox.choices[2].on && !checkbox.choices[0].on">
			Reefer is a classic! You should watch it.
		</div>
		<div ng-show="checkbox.choices[1].on && checkbox.choices[2].on && checkbox.choices[0].on">
			A real film buff.
		</div>
	</p>
</div>