<div id="filmQuestions">
	<div>
		<p class="bg-primary">Film</p>
		<p>Watch Film:
			<input type="radio" value="yes" ng-model="watchesFilm">Yes
			<input type="radio" value="no" ng-model="watchesFilm">No
		</p>
	</div>
	<div ng-show="watchesFilm == 'yes'">
		Which films have you watched? (select all that apply)
		<form action="">
			<input type="checkbox" value="" ng-model="watchedReefer">Reefer Madness (1936)<br>
			<input type="checkbox" value="" ng-model="watchedPlan">Plan 9 From Outer Space (1959)<br>
			<input type="checkbox" value="" ng-model="watchedManos">
			Manos: The Hands of Fate (1966)<br>
		</form>
	</div>
	<p>
		<!-- A sample of the inline logic in directives -->
		<div ng-show="watchedReefer && watchedManos && !watchedPlan">
			You'd definitely enjoy Plan 9. Give it a chance.
		</div>
		<div ng-show="watchedReefer && !watchedManos && watchedPlan">
			I keep hearing great things about Manos. Maybe you should watch it.
		</div>
		<div ng-show="watchedPlan && watchedManos && !watchedReefer">
			Reefer is a classic! You should watch it.
		</div>
		<div ng-show="watchedPlan && watchedManos && watchedReefer">
			A real film buff.
		</div>
	</p>
</div>