<div id="impressions" ng-controller="impressionsController">
	<ol>
		<li><form>
			Impressions/Summary:
			<input type="text" class="form-control col-xs-6" ng-model="extra">
		</form>
	</li>
	<li><p>
		Radiologic Staging (TNM Version):
	</p>
	<form class="form-horizontal">
		<!-- This needs to be encoded into radio buttons -->
		<div ng-repeat="finding in findings">
			<div class="form-group">
				<label class="control-label col-xs-4">{{$index+1}}) {{finding.label}}</label>
				<div class="col-xs-2">
				<form class="form-inline">
					<!-- <select class="dropdown"> -->
					<div ng-repeat="option in finding.items">				       
					<label class="radio inline control-label"><input type="radio"  value="{{option}}"/>{{option}}</label>
				     <!-- </select> -->
				     </div>
				     </form>
				</div>	
			</div>
		</div>
	</form>
</li>
</ol>
</div>
