<div id="mcategory" ng-controller="mcategoryController">
<p>Are there suspicious extrathoracic findings?
	<label class="radio-inline"><input type="radio" value="no" ng-model="findings">No</label>
	<label class="radio-inline"><input type="radio" value="yes" ng-model="findings">Yes</label>
	</p>
	<div ng-show="findings == 'yes'">
		<form class="form-horizontal">
			<div ng-repeat="node in nodes">
				<div class="form-group">
					<div class="col-xs-1">
						<input type="checkbox" class="form-control" ng-model="node.selected">
					</div>
					<label class="control-label col-xs-2">{{$index+1}}) {{node.label}}</label>
					<div class="col-xs-9" ng-show="node.selected">
						<input type="text" class="form-control" ng-model="node.text">
					</div>	
				</div>
			</div>
		</form>
	</div>
</div>