<div id="musicQuestions">
	<p class="bg-primary">1. Music</p>
	<p>Listen to Music:  
		<input type="radio" value="yes" ng-model="listensToMusic">Yes
		<input type="radio" value="no" ng-model="listensToMusic">No
	</p>
					<!-- The ng-show will display the below div if the expression inside the directive evaluates to true. However, if it later changes to false, the div will be hidden but its data maintained in memory. 

					If we want to scrap the data completely when the div is hidden, we can use ng-if attribute instead.-->
					<div ng-show="listensToMusic == 'yes'">
						Which genre do you prefer?
						<form>
							<input type="radio" value="megaphone" ng-model="musicGenre">Megaphone Crooners 
							<input type="radio" value="mariachi" ng-model="musicGenre">Mexican Mariachi 
							<input type="radio" value="minstrel" ng-model="musicGenre">Banjo Minstrels 
						</form>
						<p>
							<div ng-show="musicGenre == 'megaphone'">
								<a href="https://www.youtube.com/watch?v=6PlhJOzH0gY">
									Ah, the golden age of megaphone crooning!
								</a>
							</div>
							<div ng-show="musicGenre == 'mariachi'">
								Who can resist the irresistible force of the Mexican Mariachi band?
							</div>
							<div ng-show="musicGenre == 'minstrel'">
								To each his own.
							</div>
						</p>
					</div>
				</div>
				