<div id="ncategory" ng-controller="ncategoryController">
	<h6 class="section-title">4 - N Category</h6>
	<ol>
		<li>
			<p>Are there suspicious N1, N2, or N3 nodes?
				<label class="radio-inline"><input type="radio" value="no" ng-model="suspicious_n_nodes">No</label>
				<label class="radio-inline"><input type="radio" value="yes" ng-model="suspicious_n_nodes">Yes*</label>
			</p>
			<div ng-show="suspicious_n_nodes == 'yes'">
				Indicate and describe which nodes apply:
				<nodes-checkbox-form model="nodes"></nodes-checkbox-form>
			</div>
		</li>
		<li><form>
			Other notable findings:
			<input type="text" class="form-control" ng-model="bronchial_involvement">
		</form>
	</li>
</ol>
</div>