<div id="ncategory" ng-controller="ncategoryController">
	Are there suspicious N1, N2, or N3 nodes?
	<label class="radio-inline"><input type="radio" value="no" ng-model="suspicious_n_nodes">No</label>
	<label class="radio-inline"><input type="radio" value="yes" ng-model="suspicious_n_nodes">Yes</label>
	<div ng-show="suspicious_n_nodes == 'yes'">
		Identify which Nodes:
		<form class="form-horizontal">
		<div ng-repeat="node in nodes">
			{{node.label}}<input type="checkbox" class="form-control" ng-model="node.checked">
		</div>
		</form>
	</div>
</div>