<div id="ncategory" ng-controller="ncategoryController">
	Are there suspicious N1, N2, or N3 nodes?
	<label class="radio-inline"><input type="radio" value="no" ng-model="suspicious_n_nodes">No</label>
	<label class="radio-inline"><input type="radio" value="yes" ng-model="suspicious_n_nodes">Yes</label>
	<div ng-show="suspicious_n_nodes == 'yes'">
		Identify which Nodes:
		<form class="form-horizontal">
			<div ng-repeat="node in nodes">
				<div class="form-group">
					<div class="col-xs-1">
						<input type="checkbox" class="form-control" ng-mode="node.checked">
					</div>
					<label for="" class="control-label col-xs-5">{{node.label}}</label>
					<div class="col-xs-6">
						<input type="text" class="form-control" ng-model="node.text">
					</div>	
				</div>
			</div>
		</form>
	</div>
</div>