<div id="tcategory" ng-controller="tcategoryController">
	<h6 class="section-title">3 - T Category</h6>
	<ol>
		<li>
			<h5>Location of Main Nodule/Mass (Primary tumor, or Reference tumor)</h5>
			<ol>
				<li>
					Location of main nodule/mass:
					<label class="radio-inline"><input type="radio" value="peripheral" ng-model="location">Peripheral</label>
					<label class="radio-inline"><input type="radio" value="central" ng-model="location">Central*</label>
				</li>
				<div ng-show="location == 'central'">
					<ol>
						<li>
							<form>
								Is there main stem bronchus involvement?
								<no-yes model="bronchal_involvement"></no-yes>
							</form>
							<ol ng-show="bronchal_involvement ==  'yes'">
							<li>
							<form>
								Main Stem Bronchus:
								<label class="radio-inline"><input type="radio" value="right" ng-model="main_stem_bronchus">Right</label>
								<label class="radio-inline"><input type="radio" value="left" ng-model="main_stem_bronchus">Left</label>
							</form>

							</li>
							</ol>
						</li>
						<li>
							<form class="form-inline">
								<label class="control-label">What is the distance from the mass to the carina?</label>
								<br>
								<div class="input-group col-sm-2">
									<input type="text" class="form-control input-sm" ng-model="dist_to_carina">
									<div class="input-group-addon">mm</div>
								</div>
								<label class="control-label">Series:</label>
								<div class="input-group col-sm-1">
									<input type="text" class="form-control input-sm" ng-model="dist_to_carina_series">
								</div>
								<label class="control-label">Image:</label>
								<div class="input-group col-sm-1">
									<input type="text" class="form-control input-sm" ng-model="dist_to_carina_image">
								</div>
							</form>
						</li>
					</ol>
				</div>

				<div ng-show="location == 'peripheral'">
					<li>
						Check off the lobe(s) and segment(s) where the nodule/mass is located:
						<!-- TEMPLATE FOR MULTI-CELL CHECKBOX TABLE HERE-->
						<nested-panel-checkboxes model="peripheral_nodules"></nested-panel-checkboxes>
					</li>
				</div>
			</ol>
		</li>
		<li>
			<h5>Size and characteristics of main nodule/mass</h5>
			<ol>
				<li>
					Plane in which main nodule/mass was measured:
					<label class="radio-inline"><input type="radio" value="axial" ng-model="plain_measured"> Axial</label>
					<label class="radio-inline"><input type="radio" value="cornal" ng-model="plain_measured"> Coronal</label>
					<label class="radio-inline"><input type="radio" value="sagittal" ng-model="plain_measured"> Sagittal</label>
				</li>
				<li>
					Is the Nodule/Mass:
					<label class="radio-inline"><input type="radio" value="solid" ng-model="nodule_state"> Solid</label>
					<label class="radio-inline"><input type="radio" value="part-solid" ng-model="nodule_state"> Part-Solid*</label>
					<label class="radio-inline"><input type="radio" value="glass" ng-model="nodule_state"> Pure Ground Glass</label>
					<label class="radio-inline"><input type="radio" value="cavitary" ng-model="nodule_state"> Cavitary</label>
					<label class="radio-inline"><input type="radio" value="lucencies" ng-model="nodule_state"> Containing Cystic Lucencies</label>
					<ol>
					<li><ul><li>
						<!-- <form class="form-inline">
						Size of the widest dimension:
						<size-series-image model="solid_nodule"></size-series-image>
						</form> -->
						<form class="form-inline">
						<label class="control-label">Size of the widest dimension:</label>
						<div class="input-group col-md-2">
							<input type="text" class="form-control input-sm" ng-model="solid_nodule.size">
							<div class="input-group-addon">mm</div>
						</div>
						<label class="control-label">Series:</label>
						<div class="input-group col-md-1">
							<input type="text" class="form-control input-sm" ng-model="solid_nodule.series">
						</div>
						<label class="control-label">Image:</label>
						<div class="input-group col-md-1">
							<input type="text" class="form-control input-sm" ng-model="solid_nodule.image">
						</div>
					</form>
						
						</li>
						</ul>
					</li>
					<div ng-show="nodule_state == 'part-solid'">
					<li>
						<form class="form-inline">
							<ul>
								<li>
									<label class="control-label col-sm-4">Total size of lesion:</label>
									<div class="input-group col-sm-2">
										<input type="text" class="form-control input-sm" ng-model="part_solid_total_size">
										<div class="input-group-addon">mm</div>
									</div>
								</li>
								<li>
									<label class="control-label col-sm-4">Size of solid component:</label>
									<div class="input-group col-sm-2">
										<input type="text" class="form-control input-sm" ng-model="part_solid_solid_size">
										<div class="input-group-addon">mm</div>
									</div>
								</li>
								<li>
									<label class="control-label col-sm-4">Series:</label>
									<div class="input-group col-sm-1">
										<input type="text" class="form-control input-sm" ng-model="part_solid_series">
									</div>
									<label class="control-label">Image:</label>
									<div class="input-group col-sm-1">
										<input type="text" class="form-control input-sm" ng-model="part_solid_image">
									</div>
								</li>
							</ul>
						</form>
						</li>
					</div>
					</ol>
				</li>
				<li>
					Margins:
					<label class="radio-inline"><input type="radio" value="smooth" ng-model="margins"> Smooth</label>
					<label class="radio-inline"><input type="radio" value="ill-defined" ng-model="margins"> Ill-defined</label>
					<label class="radio-inline"><input type="radio" value="spiculated" ng-model="margins"> Spiculated</label>
					<label class="radio-inline"><input type="radio" value="lobulated" ng-model="margins"> Lobulated</label>
					<label class="radio-inline"><input type="radio" value="obscured" ng-model="margins"> Obscured*</label>
					<label class="radio-inline"><input type="radio" value="other" ng-model="margins"> Other</label>
					<input ng-show="margins == 'other'" type="text" class="form-control" ng-model="margin_other_text">
					<div ng-show="margins== 'obscured' ">
						<ol>
							<li>
							Margins obscured by:
							<label class="radio-inline"><input type="radio" value="scarring" ng-model="margins_obscured"> Scarring</label>
							<label class="radio-inline"><input type="radio" value="atelectasis" ng-model="margins_obscured"> Atelectasis/Post obstructive pneumonitis*</label>
							<div ng-show="margins_obscured == 'atelectasis'">
							<ol><li>
							<label class="radio-inline"><input type="radio" value="less-than-lobe" ng-model="atelectasis"> Less than whole lobe</label>
							<label class="radio-inline"><input type="radio" value="whole-lobe" ng-model="atelectasis"> Whole lobe</label>
							<label class="radio-inline"><input type="radio" value="whole-lung" ng-model="atelectasis"> Whole lung</label>
							</li></ol>
							</div>
							</li>
						</ol>

					</div>
				</li>
				<li>
				Are there air bronchograms within the mass?
				<label class="radio-inline"><input type="radio" value="no" ng-model="bronchograms"> No</label>
				<label class="radio-inline"><input type="radio" value="yes" ng-model="bronchograms"> Yes</label>
				<label class="radio-inline"><input type="radio" value="cannot-assess" ng-model="bronchograms"> Cannot be Assessed</label>
				</li>
			</ol>
		</li>
		<li>
			<h5>Structures involved</h5>
			<ol>
				<li>
				<form>
					Is there bronchial involvement?
					<no-yes model="bronchial_involvement"></no-yes>
				</form>
				<div ng-show="bronchial_involvement == 'yes'">
					<table class="table">
						<thead>
				          <tr>
				            <th>Which Bronchi are Involved?</th>
				            <th ng-show="right_bronchi_selected() || left_bronchi_selected()">Degree of Involvement</th>
				          </tr>
				       	</thead>
				       	<tbody>
				       		<tr><td colspan="2">Right Lung</td></tr>
				       		<tr><td colspan="2">
				       			<bronchi-involvement model="right_bronchi"></bronchi-involvement>
				       		</td></tr>
				       		<tr><td colspan="2">Left Lung</td></tr>
				       		<tr><td colspan="2">
				       			<bronchi-involvement model="left_bronchi"></bronchi-involvement>
				       		</td></tr>
				       	</tbody>
					</table>
				</div>
			</li>
			<li>
			<form>
				Is there ipsilateral main pulmonary artery involvement?
				<label class="radio-inline"><input type="radio" value="no" ng-model="ipsilateral_involvement"> No</label>
				<label class="radio-inline"><input type="radio" value="yes" ng-model="ipsilateral_involvement"> Yes*</label>
				<label class="radio-inline"><input type="radio" value="cannot-assess" ng-model="ipsilateral_involvement"> Cannot be Assessed</label>
			</form>
			<div ng-show="ipsilateral_involvement == 'yes'">
			<ol>
			<li>
				<label class="radio-inline"><input type="radio" value="abutting" ng-model="ipsilateral_involvement_type"> Abutting</label>
				<label class="radio-inline"><input type="radio" value="displacing" ng-model="ipsilateral_involvement_type"> Displacing</label>
				<label class="radio-inline"><input type="radio" value="encasing" ng-model="ipsilateral_involvement_type"> Encasing*</label>
				<label class="radio-inline"><input type="radio" value="complete-occlusion" ng-model="ipsilateral_involvement_type"> Complete Occlusion</label>
				<label class="radio-inline"><input type="radio" value="narrowing" ng-model="ipsilateral_involvement_type"> Narrowing</label>
			</li>
			<li ng-show="ipsilateral_involvement_type == 'encasing'">
				Percentage of encasement:
				<label class="radio-inline"><input type="radio" value="025" ng-model="encasement_percent"> 0-25%</label>
				<label class="radio-inline"><input type="radio" value="2650" ng-model="encasement_percent"> 26-50%</label>
				<label class="radio-inline"><input type="radio" value="5175" ng-model="encasement_percent"> 51-75%</label>
				<label class="radio-inline"><input type="radio" value="76100" ng-model="encasement_percent"> 76-100%</label>
			</li>
			</ol>
			</div>
		</li>
		<li>
			Is there ipsilateral upper or lower lobe pulmonary vein involvement?
			<label class="radio-inline"><input type="radio" value="no" ng-model="ipsilateral_pulmonary"> No</label>
			<label class="radio-inline"><input type="radio" value="yes" ng-model="ipsilateral_pulmonary"> Yes*</label>
			<label class="radio-inline"><input type="radio" value="cannot-assess" ng-model="ipsilateral_pulmonary"> Cannot be Assessed</label>
			<input type="text" class="form-control" ng-model="ipsilateral_pulmonary_text">
			<div ng-show="ipsilateral_pulmonary == 'yes'">
				<label class="radio-inline"><input type="radio" value="abutting" ng-model="ipsilateral_involvement_type"> Abutting</label>
				<label class="radio-inline"><input type="radio" value="displacing" ng-model="ipsilateral_involvement_type"> Displacing</label>
				<label class="radio-inline"><input type="radio" value="encasing" ng-model="ipsilateral_involvement_type"> Encasing</label>
				<label class="radio-inline"><input type="radio" value="complete-occlusion" ng-model="ipsilateral_involvement_type"> Complete Occlusion</label>
				<label class="radio-inline"><input type="radio" value="narrowing" ng-model="ipsilateral_involvement_type"> Narrowing</label>
			</div>
		</li>
		<li>
			Is there breach of the pleura?
			<no-yes model="breach_of_plerua"></no-yes>
			<div ng-show="breach_of_pleura == 'yes'">
				<ol>
				<li>
					Check all ipsilateral anatomical structures that are involved by the mass:
					<ipsilateral-anatomical-structures model="ipsilateral_anatomical_structures">
					</ipsilateral-anatomical-structures>
				</li>
				</ol>
			</div>
		</li>
		<li>
			Are there additional suspicious pulmonary nodules? 
			<label class="radio-inline"><input type="radio" value="no" ng-model="additional_nodules"> No</label>
			<label class="radio-inline"><input type="radio" value="yes" ng-model="additional_nodules"> Yes*</label>
			<label class="radio-inline"><input type="radio" value="cannot-determine" ng-model="additional_nodules"> Cannot be determined</label>
			<ol ng-show="additional_nodules == 'yes'">
				<li>
					<input type="checkbox" ng-model="additional_nodules_same_lobe">
					In the same lobe
					<ol ng-show="additional_nodules_same_lobe">
						<li>
							<input type="checkbox" ng-model="multiple_additional_nodules_same_lobe">
							Multiple?
						</li>
						<li>
							Size of largest pulmonary nodule:
							<size-series-image model="additional_nodules_same_lobe_ssi"></size-series-image>
						</li>
					</ol>
				</li>
				<li>
					<input type="checkbox" ng-model="additional_nodules_diff_lobe">
					In a different lobe, same lung
					<ol ng-show="additional_nodules_diff_lobe">
						<li>
							<input type="checkbox" ng-model="multiple_additional_nodules_diff_lobe">
							Multiple?
						</li>
						<li>
							Size of largest pulmonary nodule:
							<size-series-image model="additional_nodules_diff_lobe_ssi"></size-series-image>
						</li>
					</ol>
				</li>
				<li>
					<input type="checkbox" ng-model="additional_nodules_opp_lung">
					In the opposite lung
					<ol ng-show="additional_nodules_opp_lung">
						<li>
							<input type="checkbox" ng-model="multiple_additional_nodules_opp_lung">
							Multiple?
						</li>
						<li>
							Size of largest pulmonary nodule:
							<size-series-image model="additional_nodules_opp_lung_ssi"></size-series-image>
						</li>
					</ol>
				</li>
			</ol>
		</li>
		<li>
		<form>
			Other notable findings (eg lymphangitis carcinomatosis): 
			<input type="text" class="form-control" ng-model="other_notable_findings">
		</form>
	</li>

</ol>
</li>
</ol>
</div>