<div id="tcategory" ng-controller="tcategoryController">
	<h6 class="section-title">3 - T Category</h6>
	<ol>
		<li>
			<h5>Location of Main Nodule/Mass (Primary tumor, or Reference tumor)</h5>
			<ol>
				<li>
					Location of main nodule/mass:
					<input type="radio" value="peripheral" ng-model="location">
					Peripheral
					<input type="radio" value="central" ng-model="location">
					Central*
				</li>
				<div ng-show="location == 'central'">
					<ol>
						<li>
							<form>
								State if there is main stem bronchus involvement, and describe:
								<input type="text" class="form-control" ng-model="bronchus_involvement">
							</form>
						</li>
						<li>
							<form class="form-inline">
								<label class="control-label">What is the distance from the mass to the carina?</label>
								<br>
								<div class="input-group col-sm-2">
									<input type="text" class="form-control input-sm" ng-model="dist_to_carina">
									<div class="input-group-addon">mm</div>
								</div>
								<label class="control-label">Series:</label>
								<div class="input-group col-sm-1">
									<input type="text" class="form-control input-sm" ng-model="dist_to_carina_series">
								</div>
								<label class="control-label">Image:</label>
								<div class="input-group col-sm-1">
									<input type="text" class="form-control input-sm" ng-model="dist_to_carina_image">
								</div>
							</form>
						</li>
					</ol>
				</div>

				<div ng-show="location == 'peripheral'">
					<li>
						<form>
							State the lobe(s) and segment(s) where the mass is located:
							<input type="text" class="form-control" ng-model="lobe_segment">
						</form>
					</li>
				</div>

			</ol>
		</li>
		<li>
			<h5>Size and characteristics of main nodule/mass</h5>
			<ol>
				<li>
					<form class="form-inline">
						<label class="control-label"> Plane in which it was measured:</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-model="plain_measured">
						</div>
					</form>
				</li>
				<li>
					Size of the Nodule/Mass:
					<form class="form-inline">
						<input type="radio" value="solid" class="col-md-1" ng-model="solid_part_solid"/>
						<label class="control-label col-md-4">Solid Nodule/Mass:</label>
						<input type="radio"  value="part-solid" class="col-md-1" ng-model="solid_part_solid"/>
						<label class="control-label col-md-4">Part-solid Nodule/Mass:</label>
					</form>
					<br>
					<div ng-show="solid_part_solid == 'solid'">
						<div class="col-md-1"/>
						<size-series-image model="solid_nodule"></size-series-image>
					</div>
					<div ng-show="solid_part_solid == 'part-solid'">
					<div class="col-md-1"/>
						<form class="form-inline">
							<ul>
								<li>
									<label class="control-label col-sm-3">Total size of lesion:</label>
									<div class="input-group col-sm-2">
										<input type="text" class="form-control input-sm" ng-model="part_solid_total_size">
										<div class="input-group-addon">mm</div>
									</div>
								</li>
								<li>
									<label class="control-label col-sm-3">Size of solid component:</label>
									<div class="input-group col-sm-2">
										<input type="text" class="form-control input-sm" ng-model="part_solid_solid_size">
										<div class="input-group-addon">mm</div>
									</div>
								</li>
								<li>
									<label class="control-label col-sm-3">Series:</label>
									<div class="input-group col-sm-1">
										<input type="text" class="form-control input-sm" ng-model="part_solid_series">
									</div>
									<label class="control-label">Image:</label>
									<div class="input-group col-sm-1">
										<input type="text" class="form-control input-sm" ng-model="part_solid_image">
									</div>
								</li>
							</ul>
						</form>
					</div>
				</li>
				<li>
					<form>
						Characteristics of the main nodule/mass:
						<input type="text" class="form-control" ng-model="characteristics">
					</form>
				</li>
			</ol>
		</li>
		<li>
			<h5>Structures directly involved</h5>
			<ol>
				<li><form>
					State if there is bronchial involvement, and what type of involvement there is:
					<input type="text" class="form-control" ng-model="bronchial_involvement">
				</form>
			</li>
			<li><form>
				Comment on if there is vascular involvement, the type of involvement, and % of encasement:
				<input type="text" class="form-control" ng-model="vascular_involvement">
			</form>
		</li>

		<li>
			<p>
				Is there involvement of any other anatomical structures:
				<input type="radio" value="no" ng-model="anatomical_structures">
				No
				<input type="radio" value="yes" ng-model="anatomical_structures">
				Yes*
			</p>
			<div ng-show="anatomical_structures == 'yes'">
				<nodes-radio-form model="structures"></nodes-radio-form>
			</div>
		</li>
		<li>
			Are there additional suspicious pulmonary nodules?
			<input type="radio" value="no" ng-model="additional_nodules">
			No
			<input type="radio" value="yes" ng-model="additional_nodules">
			Yes*
			<div ng-show="additional_nodules == 'yes'">
				<nodes-checkbox-form model="nodules"></nodes-checkbox-form>
			</div>
		</li>
		<li><form>
			Other notable intrathoracic findings (eg lymphangitis carcinomatosis): 
			<input type="text" class="form-control" ng-model="other_intrathoracic_findings">
		</form>
	</li>

</ol>
</li>
</ol>
</div>