.form-horizontal .control-label{
	text-align:left;
    font-weight: normal;
}

label {
	font-weight: normal;	
}

h5 {
	text-decoration: underline;
	font-weight: bold;
}

#sidebar-wrapper {
	position: fixed;
	left: 0px;
	width: 22%;
}

#page-content-wrapper {
  width: 78%;
  left: 20%;
}