
.section-title {
	font-weight: bold;
}

/* Input forms*/
.form-horizontal .control-label{
	text-align:left;
    font-weight: normal;
}

/*Fix position of the navigation menu.*/
#sidebar-wrapper {
	position: fixed;
	left: 0px;
	width: 22%;
}

/*Sets the dimensions for the main viewport.*/
#page-content-wrapper {
  width: 78%;
  left: 20%;
}

/*Add a blank margin to the bottom of index page.*/
#footer {
	padding-bottom: 150px;
}

/* Override bootstrap's CSS for the following elements:*/
label {
	font-weight: normal;	
}

/*section titles*/
h5 {
	text-decoration: underline;
	font-weight: bold;
}

/* sub-section titles*/
h6 {
	font-size: 14px;
	font-weight: bold;
	background-color: #f1f1f1;
}

input
{ 
    padding: 1px;
}

ol li {
	padding: 5px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

ul li {
	padding: 5px;
}

ul.no-margin .form-group {
	padding: 0px;
	line-height: 1.7em;
	margin: 0.1em;
}

/*.form-horizontal .control-group {
    margin-bottom: 0px;
}*/

/*input[type="checkbox"] {
	height: 1em;
}*/
