<table class="table">
	<tbody>
		<tr>
			<td width="33%">
				<label><input type="checkbox" ng-model="model.pleura"> 
				Pleura</label>
			</td>
			<td>
				<ol ng-show="model.pleura">
					<li>
						<abutting-invading model="model.pleura_type"></abutting-invading>
					</li>
					<li>
						Pleural Effusion?
						<label class="radio-inline"><input type="radio" value="simple" ng-model="model.pleural_effusion"> Simple*</label>
						<label class="radio-inline"><input type="radio" value="thickening" ng-model="model.pleural_effusion"> Thickening/Nodularity of Pleura*</label>
						<label class="radio-inline"><input type="radio" value="loculated" ng-model="model.pleural_effusion"> Loculated*</label>
						<label class="radio-inline"><input type="radio" value="none" ng-model="model.pleural_effusion"> None</label>
						<ol ng-show="model.pleural_effusion && model.pleural_effusion != 'none'">
							<li>
								Size of pleural effusion: 
								<label class="radio-inline"><input type="radio" value="small" ng-model="model.pleura_size"> Small</label>
								<label class="radio-inline"><input type="radio" value="medium" ng-model="model.pleura_size"> Medium</label>
								<label class="radio-inline"><input type="radio" value="large" ng-model="model.pleura_size"> Large</label>
							</li>
							<li>
								Associated with atelectasis?
								<label class="radio-inline"><input type="radio" value="no" ng-model="model.pleura_atelectasis"> No</label>
								<label class="radio-inline"><input type="radio" value="yes" ng-model="model.pleura_atelectasis"> Yes</label>
							</li>
						</ol>
					</li>
				</ol>
			</td>
		</tr>
		<tr ng-repeat="item in model.ab_items">
			<td>
				<label><input type="checkbox" ng-model="item.selected">
				{{item.label}}</label>
			</td>
			<td>
				<abutting-invading model="item" ng-show="item.selected"></abutting-invading>
			</td>
		</tr>
		<tr>
		<td>
			<label><input type="checkbox" ng-model="model.pericardium">
			Pericardium or Heart?</label>
		</td>
		<td>
			<ol ng-show="model.pericardium">
				<li>
					<abutting-invading model="model.pericardium_type"></abutting-invading>
				</li>
				<li>
						Pericardial Effusion?
						<label class="radio-inline"><input type="radio" value="simple" ng-model="model.pericardial_effusion"> Simple*</label>
						<label class="radio-inline"><input type="radio" value="thickening" ng-model="model.pericardial_effusion"> Thickening/Nodularity of associated pericardium*</label>
						<label class="radio-inline"><input type="radio" value="none" ng-model="model.pericardial_effusion"> None</label>
						<ol ng-show="model.pericardial_effusion && model.pericardial_effusion != 'none'">
							<li>
								Size of pericardial effusion: 
								<label class="radio-inline"><input type="radio" value="small" ng-model="model.pericardial_size"> Small</label>
								<label class="radio-inline"><input type="radio" value="medium" ng-model="model.pericardial_size"> Medium</label>
								<label class="radio-inline"><input type="radio" value="large" ng-model="model.pericardial_size"> Large</label>
							</li>
						</ol>
					</li>
			</ol>
		</td>
		</tr>
		<tr>
		<td colspan="2">
			<label><input type="checkbox" ng-model="model.mediastinal">
			Mediastinal Vessels (including SVC)</label>
			<ol ng-show="model.mediastinal">
				<li>
					Specify which vessels:
					<abutting-invading-table model="model.mediastinal_vessels"></abutting-invading-table>
				</li>
				<li>
				Other findings:
				<input type="text" class="form-control" ng-model="model.mediastinal_findings_text">
				</li>
			</ol>
		</td>
		</tr>
		<tr>
			<td colspan="2">
				<label><input type="checkbox" ng-model="model.trachea_esophageal">
				Trachea esophageal groove</label>
			</td>
		</tr>
		<tr>
		<td colspan="2">
			<label><input type="checkbox" ng-model="model.vertebral">
			Vertebral Body</label>
			<ol ng-show="model.vertebral">
				<li>
					Number of Vertebral Body?
					<abutting-invading-table model="model.vertebral_body"></abutting-invading-table>
				</li>
				<li>
					Is there spinal canal compromise?
					<label class="radio-inline"><input type="radio" value="no" ng-model="model.vertebral_canal"> No</label>
					<label class="radio-inline"><input type="radio" value="yes" ng-model="model.vertebral_canal"> Yes*</label>
					<ol ng-show="model.vertebral_canal == 'yes'">
						<li>
							At which levels is there spinal compromise?
							<inline-checkbox-form model="model.spinal_compromise"></inline-checkbox-form>
						</li>
					</ol>
				</li>
			</ol>
		</td>
		</tr>
		<tr>
		<td colspan="2">
			<label><input type="checkbox" ng-model="model.chest_wall_ribs">
			Chest wall & Ribs</label>
			<ol ng-show="model.chest_wall_ribs">
			<li>
				Specify number and side:
				<abutting-invading-table model="model.chest_number_and_side"></abutting-invading-table>
			</li>
			</ol>
		</td>
		</tr>
	</tbody>
</table>