<table class="table">
	<tbody>
		<tr ng-repeat="i in model.col_range track by $index">
			<td width="15%">
				<label class="checkbox-inline"><input type="checkbox" ng-model="model.panels[$index].selected"> {{model.panels[$index].heading}}</label>
			</td>
			<td width="35%">
				<ul  ng-show="model.panels[$index].selected">
					<li ng-repeat="item in model.panels[$index].items">
						<label class="checkbox-inline"><input type="checkbox" ng-model="item.selected"> 
						{{item.label}}</label>
					</li>
				</ul>
			</td>
			<td width="15%">
				<label class="checkbox-inline"><input type="checkbox" ng-model="model.panels[$index + model.col_offset].selected"> {{model.panels[$index + model.col_offset].heading}}</label>
			</td>
			<td width="35%">
				<ul  ng-show="model.panels[$index + model.col_offset].selected">
					<li ng-repeat="item in model.panels[$index + model.col_offset].items">
						<label class="checkbox-inline"><input type="checkbox" ng-model="item.selected"> 
						{{item.label}}</label>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>