<form class="form-inline">
	<label class="control-label">Size:</label>
	<div class="input-group col-md-2">
		<input type="text" class="form-control input-sm" ng-model="model.size">
		<div class="input-group-addon">mm</div>
	</div>
	<label class="control-label">Series:</label>
	<div class="input-group col-md-1">
		<input type="text" class="form-control input-sm" ng-model="model.series">
	</div>
	<label class="control-label">Image:</label>
	<div class="input-group col-md-1">
		<input type="text" class="form-control input-sm" ng-model="model.image">
	</div>
</form>